@import "tailwindcss";

:root {
  --background: #DCE0E8;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Iosevka Comfy', monospace;
  background: var(--background);
  color: var(--foreground);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalboldupright.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalbolditalic.ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalextrabolditalic.ttf');
    font-weight: bolder;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalextraboldupright.ttf');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normallightitalic.ttf');
    font-weight: light;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normallightupright.ttf');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalmediumitalic.ttf');
    font-weight: medium;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalmediumupright.ttf');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalregularitalic.ttf');
    font-weight: regular;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalregularupright.ttf');
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalsemibolditalic.ttf');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalsemiboldupright.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalsemilightitalic.ttf');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Comfy';
    src: url('/fonts/iosevka-comfy-normalsemilightupright.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
